Nama: Afiyatar Asyer

NIM : 672019061

Imputasi adalah mengganti data yang hilang ()

In [15]:
#Mean
import pandas as pd
import numpy as np

kolom = {'col1':[2,9,19],
         'col2':[5,np.nan,17],
         'col3':[6,10,np.nan],
         'col4':[14,20,1],
         'col5':[np.nan,np.nan,20],
         'col6':[np.nan,np.nan,np.nan]}

data =  pd.DataFrame(kolom)
data

   col1  col2  col3  col4  col5  col6
0     2   5.0   6.0    14   NaN   NaN
1     9   NaN  10.0    20   NaN   NaN
2    19  17.0   NaN     1  20.0   NaN

**MEAN**

In [16]:
data.fillna(data.mean())

   col1  col2  col3  col4  col5  col6
0     2   5.0   6.0    14  20.0   NaN
1     9  11.0  10.0    20  20.0   NaN
2    19  17.0   8.0     1  20.0   NaN

In [17]:
umur = {'umur': [29, 43, np.nan, 25, 34, np.nan, 50]}
data = pd.DataFrame(umur)
data

   umur
0  29.0
1  43.0
2   NaN
3  25.0
4  34.0
5   NaN
6  50.0

In [18]:
data.fillna(99)

   umur
0  29.0
1  43.0
2  99.0
3  25.0
4  34.0
5  99.0
6  50.0

In [19]:
umur = {'umur':[40,np.nan,39,20,np.nan,60,70,90]}
data3 = pd.DataFrame(umur)
data3

   umur
0  40.0
1   NaN
2  39.0
3  20.0
4   NaN
5  60.0
6  70.0
7  90.0

In [20]:
!pip install feature-engine
from feature_engine.imputation import EndTailImputer

imputer = EndTailImputer(imputation_method='gaussian', tail='right')

imputer.fit(data3)

test_data = imputer.transform(data3)

test_data

Requirement already satisfied: feature-engine in /usr/local/lib/python3.7/dist-packages (1.2.0)
Requirement already satisfied: scikit-learn>=0.22.2 in /usr/local/lib/python3.7/dist-packages (from feature-engine) (1.0.2)
Requirement already satisfied: numpy>=1.18.2 in /usr/local/lib/python3.7/dist-packages (from feature-engine) (1.21.5)
Requirement already satisfied: pandas>=1.0.3 in /usr/local/lib/python3.7/dist-packages (from feature-engine) (1.3.5)
Requirement already satisfied: scipy>=1.4.1 in /usr/local/lib/python3.7/dist-packages (from feature-engine) (1.4.1)
Requirement already satisfied: statsmodels>=0.11.1 in /usr/local/lib/python3.7/dist-packages (from feature-engine) (0.13.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0.3->feature-engine) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0.3->feature-engine) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=1.0.3->feature-engine) (1.15.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.22.2->feature-engine) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.22.2->feature-engine) (3.1.0)
Requirement already satisfied: patsy>=0.5.2 in /usr/local/lib/python3.7/dist-packages (from statsmodels>=0.11.1->feature-engine) (0.5.2)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.7/dist-packages (from statsmodels>=0.11.1->feature-engine) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=21.3->statsmodels>=0.11.1->feature-engine) (3.0.7)

         umur
0   40.000000
1  128.595441
2   39.000000
3   20.000000
4  128.595441
5   60.000000
6   70.000000
7   90.000000

In [21]:

from feature_engine.imputation import EndTailImputer

imputer = EndTailImputer(imputation_method='gaussian', tail='left')

imputer.fit(data3)

test_data = imputer.transform(data3)

test_data

        umur
0  40.000000
1 -22.262108
2  39.000000
3  20.000000
4 -22.262108
5  60.000000
6  70.000000
7  90.000000

In [22]:
#imputasi modus
from sklearn.impute import SimpleImputer
mobil = {'mobil':['Ford','Ford','Honda','Tesla',np.nan,
         'Mitsubhisi',np.nan,'Tosa']}
dataM = pd.DataFrame(mobil)
dataM

        mobil
0        Ford
1        Ford
2       Honda
3       Tesla
4         NaN
5  Mitsubhisi
6         NaN
7        Tosa

In [23]:
imp = SimpleImputer(strategy='most_frequent')
imp.fit_transform(dataM)

array([['Ford'],
       ['Ford'],
       ['Honda'],
       ['Tesla'],
       ['Ford'],
       ['Mitsubhisi'],
       ['Ford'],
       ['Tosa']], dtype=object)

In [24]:
#Random Sample mengatasi missing value kategorikal & numerikal
from feature_engine.imputation import RandomSampleImputer

dataD = {'Jenis Kelamin':['Laki-laki','Perempuan',
         'Laki-laki','Laki-laki',np.nan,'Laki-laki',
         'Perempuan','Laki-laki',np.nan],
         'Umur':[21,np.nan,50,43,66,76,np.nan,30,32]}

df = pd.DataFrame(dataD)

In [25]:
df

  Jenis Kelamin  Umur
0     Laki-laki  21.0
1     Perempuan   NaN
2     Laki-laki  50.0
3     Laki-laki  43.0
4           NaN  66.0
5     Laki-laki  76.0
6     Perempuan   NaN
7     Laki-laki  30.0
8           NaN  32.0

In [26]:
imp = RandomSampleImputer(random_state=29)

imp.fit(df)

testing = imp.transform(df)

In [27]:
testing

  Jenis Kelamin  Umur
0     Laki-laki  21.0
1     Perempuan  30.0
2     Laki-laki  50.0
3     Laki-laki  43.0
4     Perempuan  66.0
5     Laki-laki  76.0
6     Perempuan  66.0
7     Laki-laki  30.0
8     Laki-laki  32.0